section {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.add_contact_btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

.hover_effect {
    cursor: pointer;

    &:hover {
        background-color: #303030;
    }
}

.link_no_style {
    text-decoration: none;
    color: white;

    &:hover {
        color: #C2195B;
    }
}