<section>
    <mat-card class="contact_detail_header">
        <button mat-icon-button class="edit_btn" [matMenuTriggerFor]="menu_contact_details">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu_contact_details="matMenu">
            <button mat-menu-item (click)="editContactDetails()"><mat-icon>edit_note</mat-icon>Edit</button>
        </mat-menu>
        <div class="second_bg"></div>
        <img class="profil_pic" src="assets/img/man.png" alt="">
        <div class="contact_detail">
            <h1>{{contactDetails.firstName}} {{contactDetails.lastName}}</h1>
            <div class="country_city_container">
                <img *ngIf="flag" src="{{flag}}" alt=""><span *ngIf="contactDetails.city">{{contactDetails.city}},
                </span><span *ngIf="contactDetails.country">{{contactDetails.country}}</span>
            </div>
            <span><b>Birth date:</b> {{birthDate}}</span>
            <span><b>Last interaction:</b> {{last_interaction}}</span>
            <span><b>Next interaction:</b> {{next_interaction}}</span>
        </div>
    </mat-card>

    <mat-card class="reminder_card">
        <button mat-icon-button class="edit_btn" [matMenuTriggerFor]="menu_reminder">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu_reminder="matMenu">
            <button mat-menu-item (click)="editReminder()"><mat-icon>edit_note</mat-icon>Edit</button>
        </mat-menu>
        <div class="contact_interactions">
            <h2>Reminder interval</h2>
            <div class="box">
                <span>{{reminder_qty}}</span>
                <span>{{reminder_period}}</span>
                <button mat-raised-button
                    matTooltip="This will reset the interval after interaction with contact" (click)="resetLastInt()">Reset</button>
            </div>
        </div>
    </mat-card>

    <mat-card class="contact_info_card">
        <button mat-icon-button class="edit_btn" [matMenuTriggerFor]="menu_contact_info">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu_contact_info="matMenu">
            <button mat-menu-item (click)="editContactInfo()"><mat-icon>edit_note</mat-icon>Edit</button>
        </mat-menu>
        <h2>Contact information</h2>
        <div class="contact_info_container">
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Street + No:</span>
                    <span matListItemLine>{{contactDetails.street}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Zip-Code & City:</span>
                    <span matListItemLine>{{contactDetails.zipCode}}<span *ngIf="contactDetails.zipCode">,</span>{{contactDetails.city}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Country:</span>
                    <span matListItemLine>{{contactDetails.country}}</span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Company:</span>
                    <span matListItemLine>{{contactDetails.company}}</span>
                </mat-list-item>
            </mat-list>
            <mat-list>
                <mat-list-item>
                    <span matListItemTitle>Phone:</span>
                    <span matListItemLine><a class="link_style"
                            href="tel:{{contactDetails.phone}}">{{contactDetails.phone}}</a></span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Email:</span>
                    <span matListItemLine><a class="link_style"
                            href="mailto:{{contactDetails.email}}">{{contactDetails.email}}</a></span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Category:</span>
                    <span matListItemLine>{{contactDetails.category}}</span>
                </mat-list-item>
            </mat-list>
        </div>
    </mat-card>

    <mat-card class="contact_notes">
        <h2>Notes</h2>
        <textarea [(ngModel)]="notes"></textarea>
        <button (click)="saveNote()" mat-raised-button>Save</button>
        <mat-accordion class="notes_history_panel">
            <mat-expansion-panel hideToggle>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notes
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="note_container test">
                    <mat-form-field class="example-form-field">
                        <mat-label>Search</mat-label>
                        <input matInput type="text" [(ngModel)]="searchValue" (keyup)="searchNote()">
                        <button *ngIf="searchValue" matSuffix mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="note_box" *ngFor="let note of displayedNotes; let i = index">
                        <mat-icon [matMenuTriggerFor]="menu_note">more_vert</mat-icon>
                        <mat-menu #menu_note="matMenu">
                            <button mat-menu-item (click)="editNote(i)"><mat-icon>edit_note</mat-icon>Edit</button>
                            <button mat-menu-item (click)="deleteNote(i)"><mat-icon>delete</mat-icon>Edit</button>
                        </mat-menu>
                        <h3>Created: {{note.date}}</h3>
                        <p>{{note.note}}</p>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</section>