<mat-drawer-container class="mat_drawer_container" autosize>
  <mat-drawer [opened]="true" #drawer class="sidenav" mode="side">
    <div class="logo_container">
      <img src="assets/img/logo_crm.png" alt="logo">
    </div>
    <ul class="menu_list">
      <li routerLink="/"><mat-icon>dashboard</mat-icon>Dashboard</li>
      <li routerLink="contacts"><mat-icon>group</mat-icon>Contacts</li>
      <li routerLink="info"><mat-icon>info</mat-icon>Info</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button (click)="drawer.toggle()" mat-icon-button color="accent"
          aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Simple-CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router_container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>